# This CI/CD workflow is intended to build Rust source and export Godot game
# for multiple platforms at once, much easier to handle for releases.
name: CI

# Uncomment if the workflow should be triggered by whatever push
on: push

# Uncomment all these lines if the workflow should be triggered only for source code changes
# on:
#   push:
#     paths:
#     - 'dockerfiles/**'
#     - 'assets/**'
#     - 'scenes/**'
#     - 'src/**'
#     - 'project.godot'
#     - 'default_env.tres'
#     - 'Cargo.toml'
#     - 'export_presets.cfg'

jobs:
  # This job is where we test Rust source code and then compile it for Linux target
  rust-linux:
    runs-on: ubuntu-latest
    name: Building Rust source for Linux
    steps:
    - uses: actions/checkout@v2
    - name: Check Rust toolchain
      run: rustup show
    - name: Run tests
      run: cargo test --release
    - name: Build
      run: cargo build --release
    - name: Upload GDNative library as artifact
      uses: actions/upload-artifact@v1
      with:
        name: libcore.so
        path: target/release/libcore.so
    - name: Cache cargo build
      uses: actions/cache@v1
      with:
        path: target
        key: ${{ runner.os }}-cargo-build-target-${{ hashFiles('**/Cargo.lock') }}

  # This job is where we compile Rust source code for Windows target
  rust-windows:
    runs-on: ubuntu-latest
    name: Building Rust source for Windows
    steps:
    - uses: actions/checkout@v2
    - name: Check Rust toolchain
      run: rustup show
    - name: Install Cross
      run: cargo install cross
    - name: Build custom Docker image for x86_64-pc-windows-gnu toolchain with LLVM
      run: docker build -t my/x86_64-pc-windows-gnu:latest -f ./dockerfiles/x86_64-pc-windows-gnu.Dockerfile .
    - name: Build with Cross
      run: cross build --release --target x86_64-pc-windows-gnu
    - name: Upload GDNative library as artifact
      uses: actions/upload-artifact@v1
      with:
        name: core.dll
        path: target/x86_64-pc-windows-gnu/release/core.dll
    - name: Cache cargo build
      uses: actions/cache@v1
      with:
        path: target
        key: ${{ runner.os }}-cargo-build-target-${{ hashFiles('**/Cargo.lock') }}

  # This job is where we compile Rust source code for Android targets
  rust-android:
    runs-on: ubuntu-latest
    name: Building Rust source for Android
    steps:
    - uses: actions/checkout@v2
    - name: Check Rust toolchain
      run: rustup show
    - name: Add i686 based Rust toolchain
      run: rustup target add armv7-linux-androideabi aarch64-linux-android i686-linux-android x86_64-linux-android
    - name: Setting up llvm-config
      run: sudo apt-get install clang-format clang-tidy clang-tools clang libc++-dev libc++1 libc++abi-dev libc++abi1 libclang-dev libclang1 libomp-dev libomp5 lld lldb llvm-dev llvm-runtime llvm -y
    - name: Check if llvm-config exists
      run: llvm-config --version
    - name: Update apt-get
      run: sudo apt-get update
    - name: Install glibc-devel so GDNative can use the standard C libraries
      run: sudo apt-get install g++-multilib gcc-multilib libc6-dev-i386 -y
    - name: Registering a NDK based Clang linker to Cargo
      run: |
        ls ~/.cargo/  
        touch ~/.cargo/config
        echo '[target.armv7-linux-androideabi]' >> ~/.cargo/config
        echo 'ar = "/usr/local/lib/android/sdk/ndk-bundle/toolchains/llvm/prebuilt/linux-x86_64/bin/arm-linux-androideabi-ar"' >> ~/.cargo/config
        echo 'linker = "/usr/local/lib/android/sdk/ndk-bundle/toolchains/llvm/prebuilt/linux-x86_64/bin/armv7a-linux-androideabi29-clang"' >> ~/.cargo/config
        echo '[target.aarch64-linux-android]' >> ~/.cargo/config
        echo 'ar = "/usr/local/lib/android/sdk/ndk-bundle/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android-ar"' >> ~/.cargo/config
        echo 'linker = "/usr/local/lib/android/sdk/ndk-bundle/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android29-clang"' >> ~/.cargo/config
        echo '[target.i686-linux-android]' >> ~/.cargo/config
        echo 'ar = "/usr/local/lib/android/sdk/ndk-bundle/toolchains/llvm/prebuilt/linux-x86_64/bin/i686-linux-android-ar"' >> ~/.cargo/config
        echo 'linker = "/usr/local/lib/android/sdk/ndk-bundle/toolchains/llvm/prebuilt/linux-x86_64/bin/i686-linux-android29-clang"' >> ~/.cargo/config
        echo '[target.x86_64-linux-android]' >> ~/.cargo/config
        echo 'ar = "/usr/local/lib/android/sdk/ndk-bundle/toolchains/llvm/prebuilt/linux-x86_64/bin/x86_64-linux-android-ar"' >> ~/.cargo/config
        echo 'linker = "/usr/local/lib/android/sdk/ndk-bundle/toolchains/llvm/prebuilt/linux-x86_64/bin/x86_64-linux-android29-clang"' >> ~/.cargo/config
        cat ~/.cargo/config
    - name: Build with Cargo for ARMv7
      run: C_INCLUDE_PATH=.:$JAVA_HOME/include/:$JAVA_HOME/include/linux/ cargo build --release --target armv7-linux-androideabi
    - name: Upload GDNative library as artifact
      uses: actions/upload-artifact@v1
      with:
        name: libcore.arm.so
        path: target/armv7-linux-androideabi/release/libcore.so
    - name: Build with Cargo for ARM64
      run: C_INCLUDE_PATH=.:$JAVA_HOME/include/:$JAVA_HOME/include/linux/ cargo build --release --target aarch64-linux-android
    - name: Upload GDNative library as artifact
      uses: actions/upload-artifact@v1
      with:
        name: libcore.arm64.so
        path: target/aarch64-linux-android/release/libcore.so
    - name: Build with Cargo for x86
      run: C_INCLUDE_PATH=.:$JAVA_HOME/include/:$JAVA_HOME/include/linux/ cargo build --release --target i686-linux-android
    - name: Upload GDNative library as artifact
      uses: actions/upload-artifact@v1
      with:
        name: libcore.x86.so
        path: target/i686-linux-android/release/libcore.so
    - name: Build with Cargo for x86_64
      run: C_INCLUDE_PATH=.:$JAVA_HOME/include/:$JAVA_HOME/include/linux/ cargo build --release --target x86_64-linux-android
    - name: Upload GDNative library as artifact
      uses: actions/upload-artifact@v1
      with:
        name: libcore.x86_64.so
        path: target/x86_64-linux-android/release/libcore.so

  # This job is where we build a Godot game for Linux,
  # using the Linux-compatible library we built in 'rust-linux'
  godot-linux:
    runs-on: ubuntu-latest
    needs: rust-linux
    name: Building Godot game for Linux/X11
    steps:
    - uses: actions/checkout@v2
    - name: Setup environment
      run: |
        wget https://downloads.tuxfamily.org/godotengine/3.2.1/Godot_v3.2.1-stable_linux_headless.64.zip
        wget https://downloads.tuxfamily.org/godotengine/3.2.1/Godot_v3.2.1-stable_export_templates.tpz
        mkdir ~/.cache
        mkdir -p ~/.config/godot
        mkdir -p ~/.local/share/godot/templates/3.2.1.stable
        unzip Godot_v3.2.1-stable_linux_headless.64.zip
        sudo mv Godot_v3.2.1-stable_linux_headless.64 /usr/local/bin/godot
        unzip Godot_v3.2.1-stable_export_templates.tpz
        sudo mv templates/* ~/.local/share/godot/templates/3.2.1.stable
        sudo rm -f Godot_v3.2.1-stable_linux_headless.64.zip Godot_v3.2.1-stable_export_templates.tpz
        mkdir -p ./build/linux
    - name: Download GDNative library artifact
      uses: actions/download-artifact@v1
      with:
        name: libcore.so
        path: target/stable-x86_64-unknown-linux-gnu/release
    - name: Building for Linux/X11
      run: godot -v --export "Linux/X11" ./build/linux/sample_godot_rust_app.x86_64
    - name: Upload Linux game as artifact
      uses: actions/upload-artifact@v1
      with:
        name: sample_godot_rust_app_linux
        path: build/linux

  # This job is where we build a Godot game for Windows,
  # using the Windows-compatible library we built in 'rust-windows'
  godot-windows:
    runs-on: ubuntu-latest
    needs: [rust-linux, rust-windows]
    name: Building Godot game for Windows
    steps:
    - uses: actions/checkout@v2
    - name: Setup environment
      run: |
        wget https://downloads.tuxfamily.org/godotengine/3.2.1/Godot_v3.2.1-stable_linux_headless.64.zip
        wget https://downloads.tuxfamily.org/godotengine/3.2.1/Godot_v3.2.1-stable_export_templates.tpz
        mkdir ~/.cache
        mkdir -p ~/.config/godot
        mkdir -p ~/.local/share/godot/templates/3.2.1.stable
        unzip Godot_v3.2.1-stable_linux_headless.64.zip
        sudo mv Godot_v3.2.1-stable_linux_headless.64 /usr/local/bin/godot
        unzip Godot_v3.2.1-stable_export_templates.tpz
        sudo mv templates/* ~/.local/share/godot/templates/3.2.1.stable
        sudo rm -f Godot_v3.2.1-stable_linux_headless.64.zip Godot_v3.2.1-stable_export_templates.tpz
        mkdir -p ./build/windows
    - name: Download GDNative library artifact
      uses: actions/download-artifact@v1
      with:
        name: core.dll
        path: target/x86_64-pc-windows-gnu/release
    - name: Building for Windows
      run: godot -v --export "Windows Desktop" ./build/windows/sample_godot_rust_app.exe
    - name: Upload Windows game as artifact
      uses: actions/upload-artifact@v1
      with:
        name: sample_godot_rust_app_windows
        path: build/windows

  # This job is where we build a Godot game for Android with debug mode,
  # using the libraries we built for ARMv7, AArch64, x86 and x86_64 architectures
  godot-android-debug:
    runs-on: ubuntu-latest
    needs: rust-android
    name: Building unsigned Godot game for Android
    steps:
    - uses: actions/checkout@v2
    - name: Generate debug keystore
      run: keytool -keyalg RSA -genkeypair -keystore /opt/debug.keystore -storepass android -alias androiddebugkey -keypass android -dname "CN=Android Debug,O=Android,C=US" -validity 9999
    - name: Setup environment
      run: |
        wget https://downloads.tuxfamily.org/godotengine/3.2.1/Godot_v3.2.1-stable_linux_headless.64.zip
        wget https://downloads.tuxfamily.org/godotengine/3.2.1/Godot_v3.2.1-stable_export_templates.tpz
        mkdir ~/.cache
        mkdir -p ~/.config/godot
        mkdir -p ~/.local/share/godot/templates/3.2.1.stable
        unzip Godot_v3.2.1-stable_linux_headless.64.zip
        sudo mv Godot_v3.2.1-stable_linux_headless.64 /usr/local/bin/godot
        unzip Godot_v3.2.1-stable_export_templates.tpz
        sudo mv templates/* ~/.local/share/godot/templates/3.2.1.stable
        sudo rm -f Godot_v3.2.1-stable_linux_headless.64.zip Godot_v3.2.1-stable_export_templates.tpz
        sudo rm -d templates
        mkdir -v -p ./build/android
    - name: Download ARMv7 based GDNative library artifact
      uses: actions/download-artifact@v1
      with:
        name: libcore.arm.so
        path: target/armv7-linux-androideabi/release
    - name: Download AArch64 based GDNative library artifact
      uses: actions/download-artifact@v1
      with:
        name: libcore.arm64.so
        path: target/aarch64-linux-android/release
    - name: Download i686 based GDNative library artifact
      uses: actions/download-artifact@v1
      with:
        name: libcore.x86.so
        path: target/i686-linux-android/release
    - name: Download x86_64 based GDNative library artifact
      uses: actions/download-artifact@v1
      with:
        name: libcore.x86_64.so
        path: target/x86_64-linux-android/release
    - name: Set new editor settings for Android
      run: |
        touch ~/.config/godot/editor_settings-3.tres
        echo '[gd_resource type="EditorSettings" format=2]' >> /home/runner/.config/godot/editor_settings-3.tres
        echo '[resource]' >> /home/runner/.config/godot/editor_settings-3.tres
        echo 'export/android/adb = "/usr/local/lib/android/sdk/platform-tools/adb"' >> /home/runner/.config/godot/editor_settings-3.tres
        echo 'export/android/jarsigner = "/usr/bin/jarsigner"' >> /home/runner/.config/godot/editor_settings-3.tres
        echo 'export/android/debug_keystore = "/opt/debug.keystore"' >> /home/runner/.config/godot/editor_settings-3.tres
        echo 'export/android/debug_keystore_user = "androiddebugkey"' >> /home/runner/.config/godot/editor_settings-3.tres
        echo 'export/android/debug_keystore_pass = "android"' >> /home/runner/.config/godot/editor_settings-3.tres
        cat /home/runner/.config/godot/editor_settings-3.tres
    - name: Building with debug
      run: godot --export-debug "Android" ./build/android/sample_godot_rust_app.apk
    - name: Upload Android game as artifact
      uses: actions/upload-artifact@v1
      with:
        name: sample_godot_rust_app_android_debug
        path: build/android/sample_godot_rust_app.apk

  # This job is where we build a signed Godot game for Android,
  # using the libraries we built for ARMv7, AArch64, x86 and x86_64 architectures
  godot-android-with-secrets:
    runs-on: ubuntu-latest
    needs: rust-android
    name: Building signed Godot game for Android
    steps:
    - uses: actions/checkout@v2
    - name: Download ARMv7 based GDNative library artifact
      uses: actions/download-artifact@v1
      with:
        name: libcore.arm.so
        path: target/armv7-linux-androideabi/release
    - name: Download AArch64 based GDNative library artifact
      uses: actions/download-artifact@v1
      with:
        name: libcore.arm64.so
        path: target/aarch64-linux-android/release
    - name: Download i686 based GDNative library artifact
      uses: actions/download-artifact@v1
      with:
        name: libcore.x86.so
        path: target/i686-linux-android/release
    - name: Download x86_64 based GDNative library artifact
      uses: actions/download-artifact@v1
      with:
        name: libcore.x86_64.so
        path: target/x86_64-linux-android/release
    - name: Generate debug keystore
      run: keytool -keyalg RSA -genkeypair -keystore /opt/debug.keystore -storepass android -alias androiddebugkey -keypass android -dname "CN=Android Debug,O=Android,C=US" -validity 9999
    - name: Decrypt signing key
      env:
        DECRYPTION_KEY: ${{ secrets.DECRYPTION_KEY }}
      run: |
        gpg --quiet --batch --yes --passphrase="$DECRYPTION_KEY" --output release.keystore release.keystore.gpg
    - name: Setup environment
      run: |
        wget https://downloads.tuxfamily.org/godotengine/3.2.1/Godot_v3.2.1-stable_linux_headless.64.zip
        wget https://downloads.tuxfamily.org/godotengine/3.2.1/Godot_v3.2.1-stable_export_templates.tpz
        mkdir ~/.cache
        mkdir -p ~/.config/godot
        mkdir -p ~/.local/share/godot/templates/3.2.1.stable
        unzip Godot_v3.2.1-stable_linux_headless.64.zip
        sudo mv Godot_v3.2.1-stable_linux_headless.64 /usr/local/bin/godot
        unzip Godot_v3.2.1-stable_export_templates.tpz
        sudo mv templates/* ~/.local/share/godot/templates/3.2.1.stable
        sudo rm -f Godot_v3.2.1-stable_linux_headless.64.zip Godot_v3.2.1-stable_export_templates.tpz
        sudo rm -d templates
        mkdir -v -p ./build/android
    - name: Configure Godot
      run: |
        # Let godot generate editor_settings-3.tres
        godot -e -q
        # Replace custom settings
        sed -i 's|export/android/adb.*|export/android/adb = "/usr/local/lib/android/sdk/platform-tools/adb"|' /home/runner/.config/godot/editor_settings-3.tres;
        sed -i 's|export/android/jarsigner.*|export/android/jarsigner = "/usr/bin/jarsigner"|' /home/runner/.config/godot/editor_settings-3.tres;
    - name: Insert keystore pass
      env:
        KEYSTORE_PASS: ${{ secrets.KEYSTORE_PASS }}
      run: |
        sed -i 's|<SECRET-PASSWORD>|'$KEYSTORE_PASS'|' ./export_presets.cfg
        cat ./export_presets.cfg
    - name: Building for Android
      run: godot --export "Android" ./build/android/sample_godot_rust_app.apk
    - name: Upload Android game as artifact
      uses: actions/upload-artifact@v1
      with:
        name: sample_godot_rust_app_android_signed
        path: build/android/sample_godot_rust_app.apk

  # This job is where we create an official release in Github repo,
  # using the Godot games we built in 'godot-linux', 'godot-windows', etc.
  # This job is temporarily disabled, until a good git flow will be set up.
  
  # github-release:
  #   runs-on: ubuntu-latest
  #   needs: [godot-windows, godot-linux]
  #   name: Release games on Github
  #   if: github.ref == 'refs/heads/master'
  #   steps:
  #   - name: Setup environment
  #     run: |
  #       mkdir -p windows
  #       mkdir -p linux
  #       mkdir -p macos
  #       mkdir -p android
  #       mkdir -p ios
  #   - name: Download Windows game
  #     uses: actions/download-artifact@v1
  #     with:
  #       name: sample_godot_rust_app_windows
  #       path: windows
  #   - name: Zip Windows game
  #     run: zip -r sample_godot_rust_app_windows.zip windows
  #   - name: Download Linux game
  #     uses: actions/download-artifact@v1
  #     with:
  #       name: sample_godot_rust_app_linux
  #       path: linux
  #   - name: Zip Linux game
  #     run: zip -r sample_godot_rust_app_linux.zip linux
  #   - name: Create a Github release
  #     if: github.ref == 'refs/heads/master'
  #     id: create_release
  #     uses: actions/create-release@v1
  #     env:
  #       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #     with:
  #       tag_name: nightly
  #       release_name: Nightly release
  #       body: Testing the Github Releases API, ZIPs archives with Linux and Windows versions of the game should appear.
  #       draft: false
  #       prerelease: false
  #   - name: Upload Linux game as release
  #     uses: actions/upload-release-asset@v1
  #     env:
  #       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #     with:
  #       upload_url: ${{ steps.create_release.outputs.upload_url }}
  #       asset_path: ./sample_godot_rust_app_linux.zip
  #       asset_name: sample_godot_rust_app_linux.zip
  #       asset_content_type: application/zip
  #   - name: Upload Windows game as release 
  #     uses: actions/upload-release-asset@v1
  #     env:
  #       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #     with:
  #       upload_url: ${{ steps.create_release.outputs.upload_url }}
  #       asset_path: ./sample_godot_rust_app_windows.zip
  #       asset_name: sample_godot_rust_app_windows.zip
  #       asset_content_type: application/zip
